<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">Listado de Oficinas</span>
            <button class="btn btn-success float-end" routerLink="/create-oficina">Nueva Oficina</button>
            <table *ngIf="listaOficinas.length > 0" class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Zona</th>
                  <th scope="col">*</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let oficina of listaOficinas">
                  <td>{{ oficina.nombre }}</td>
                  <td>{{ oficina.direccion }}</td>
                  <td>{{ oficina.telefono }}</td>
                  <td>{{ oficina.correo }}</td>
                  <td>{{ oficina.zona }}</td>
                  <td>
                    <i (click)="oficina._id && eliminarOficina(oficina._id)" class="fas fa-trash text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5 style="text-align:start; margin-top: 10px" *ngIf="listaOficinas.length == 0">No hay oficinas para mostrar</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  